**Data Manupulation using pandas**

In [34]:
import pandas as pd

In [35]:
iris=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [36]:
df=iris.copy()
first_row=df.loc[0]
df.columns=["sl","sw","pl","pw","flower_type"]
# print(first_row)

In [37]:
df.iloc[0]

sl                     4.9
sw                     3.0
pl                     1.4
pw                     0.2
flower_type    Iris-setosa
Name: 0, dtype: object

***after drop() the labels get changed, we need to reset it***

In [38]:
df.drop(0,inplace=True)
df.head()

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [39]:
# df.reset_index()
df.reset_index(drop=True,inplace=True)
df.index

RangeIndex(start=0, stop=148, step=1)

In [40]:
df.head()

    sl   sw   pl   pw  flower_type
0  4.7  3.2  1.3  0.2  Iris-setosa
1  4.6  3.1  1.5  0.2  Iris-setosa
2  5.0  3.6  1.4  0.2  Iris-setosa
3  5.4  3.9  1.7  0.4  Iris-setosa
4  4.6  3.4  1.4  0.3  Iris-setosa

**How to add/delete column**

***Delete***

In [42]:
#M-1
dc=df.copy()
dc.drop('sl',axis=1,inplace=True)
dc.head()

    sw   pl   pw  flower_type
0  3.2  1.3  0.2  Iris-setosa
1  3.1  1.5  0.2  Iris-setosa
2  3.6  1.4  0.2  Iris-setosa
3  3.9  1.7  0.4  Iris-setosa
4  3.4  1.4  0.3  Iris-setosa

In [43]:
#M-2
del dc['sw']

In [45]:
dc.head()

    pl   pw  flower_type
0  1.3  0.2  Iris-setosa
1  1.5  0.2  Iris-setosa
2  1.4  0.2  Iris-setosa
3  1.7  0.4  Iris-setosa
4  1.4  0.3  Iris-setosa

***Insert***

In [47]:
df=iris.copy()
df.columns=["sl","sw","pl","pw","flower_type"]
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [48]:
#add a column
df["diff_pl_pw"]=df["pl"]-df["pw"]

In [49]:
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  4.6  3.1  1.5  0.2  Iris-setosa         1.3
3  5.0  3.6  1.4  0.2  Iris-setosa         1.2
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3