In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('../Rooms.xlsx')
# df.head(2)

In [3]:
print(df.shape)
print("",df.describe())

(72, 3)
        floor      number
count   72.0   72.000000
mean     1.0  104.500000
std      0.0    2.307367
min      1.0  101.000000
25%      1.0  102.750000
50%      1.0  104.500000
75%      1.0  106.250000
max      1.0  108.000000

**Accessing Data Columnwise**

In [4]:
#M-1
# df.floor
#M-2:
df['segment']

0     A
1     A
2     A
3     A
4     A
     ..
67    I
68    I
69    I
70    I
71    I
Name: segment, Length: 72, dtype: object

In [5]:
df.iloc[1,1]

'A'

In [6]:
df.loc[0]

floor        1
segment      A
number     101
Name: 0, dtype: object

In [7]:
# df.drop(1,inplace=True)
# df.drop(df.index[0],inplace=True)
# df.head()

In [8]:
df.index[0]

0

In [9]:
# df.reset_index(drop=True,inplace=True)
# df.head()

In [10]:
# df.loc[0]=[1,'A',101]

In [11]:
df.tail()

    floor segment  number
67      1       I     104
68      1       I     105
69      1       I     106
70      1       I     107
71      1       I     108

In [12]:
# df.reset_index(drop=True,inplace=True)
# df.tail()

**Add-Column**

In [13]:
df['seg_number']=0
df.head()

   floor segment  number  seg_number
0      1       A     101           0
1      1       A     102           0
2      1       A     103           0
3      1       A     104           0
4      1       A     105           0

In [14]:
df.segment.shape[0]
# df.head()

72

In [15]:
#M-1
# for i in range(df.segment.shape[0]):
#     a=df.segment[i]
#     if(a=="A"):
#         df.seg_number[i]=0
#     elif(a=="B"):
#         df.seg_number[i]=1
#     elif(a=="C"):
#         df.seg_number[i]=2
#     elif(a=="D"):
#         df.seg_number[i]=3
#     elif(a=="E"):
#         df.seg_number[i]=4
#     elif(a=="F"):
#         df.seg_number[i]=5
#     elif(a=="G"):
#         df.seg_number[i]=6
#     elif(a=="H"):
#         df.seg_number[i]=7
#     elif(a=="I"):
#         df.seg_number[i]=8

# df.head(10)

In [17]:
#M-2:Using apply()
def f(s):
    if(s=="A"):
        return 0
    elif(s=="B"):
        return 1
    elif(s=="C"):
        return 2
    elif(s=="D"):
        return 3
    elif(s=="E"):
        return 4
    elif(s=="F"):
        return 5
    elif(s=="G"):
        return 6
    elif(s=="H"):
        return 7
    elif(s=="I"):
        return 8
df["seg_number"]=df.segment.apply(f)

In [18]:
df.head(10)

   floor segment  number  seg_number
0      1       A     101           0
1      1       A     102           0
2      1       A     103           0
3      1       A     104           0
4      1       A     105           0
5      1       A     106           0
6      1       A     107           0
7      1       A     108           0
8      1       B     101           1
9      1       B     102           1