In [14]:
a=(1,2)
type(a)

tuple

Tuples are immutable. Lists are mutable but we can delete the tuple itself

In [3]:
e=1,2
type(e)

tuple

In [8]:
e[0]
e[1]
#e[-3]

2

In [15]:
g=(1,2,3,4,5,6)
g[3:6]

(4, 5, 6)

In [16]:
del g

Functions in Tuples

In [17]:
a=(1,2,3)
b=4,5

In [19]:
for i in a:
    print(i)

1
2
3

In [21]:
1 in a

True

In [24]:
1 in b

False

In [26]:
len(a)

3

In [28]:
#concatenation is allowed
c=a+b
c

(1, 2, 3, 4, 5)

In [31]:
#d is tuple of tuples
d=(a,b)
d

((1, 2, 3), (4, 5))

In [34]:
#this should not be done
e=2
#g=a+e

In [37]:
#what was there in a , it was repeated 4 times
h=a*4
h

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [39]:
print(min(a))
print(max(a))

1
3

In [41]:
a2=(1,2,"U",(3,4))

In [44]:
#cannot compare string with an integer
#min and max can only be found if all elements are of same type
#they should be comparable
min(a2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [46]:
a3=(1,2.2)
max(a3)

2.2

In [49]:
#list to tuple
l=[1,2,3,4]
o=tuple(l)
o

(1, 2, 3, 4)

taking space seperated input in one line

In [5]:
li=[int(x) for x in input().split(',')]
li

[5, 4, 6, 7, 8, 9]

In [4]:
li

[5, 6, 7, 8, 9]