In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [9]:
data=pd.read_csv('./international-airline-passengers.csv')
df=data.copy()

In [15]:
c_name_1=df.columns[0]
c_name_2=df.columns[1]

In [16]:
x_train,x_test,y_train,y_test=train_test_split(df[c_name_1],df[c_name_2],test_size=0.3,random_state=1)

In [17]:
x_test

94     1956-11
91     1956-08
84     1956-01
48     1953-01
53     1953-06
5      1949-06
42     1952-07
33     1951-10
112    1958-05
108    1958-01
14     1950-03
16     1950-05
74     1955-03
128    1959-09
69     1954-10
29     1951-06
58     1953-11
138    1960-07
31     1951-08
65     1954-06
45     1952-10
19     1950-08
77     1955-06
83     1955-12
119    1958-12
90     1956-07
123    1959-04
44     1952-09
28     1951-05
35     1951-12
100    1957-05
111    1958-04
40     1952-05
17     1950-06
66     1954-07
73     1955-02
104    1957-09
93     1956-10
18     1950-07
4      1949-05
131    1959-12
39     1952-04
36     1952-01
109    1958-02
Name: Month, dtype: object